[Unit]
Description=Purga diaria de AxoNote

[Timer]
OnCalendar=*-*-* 03:20:00
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
